.header-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.header {
  display: flex;
  margin: 0 24px;
  padding: 12px 0;

  .left {
    flex: 1;

    h1 {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1;
    }
  }

  .right {
    flex: 1;
    text-align: right;
  }

  .main {
    float: 1;
    text-align: center;
  }
}